<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
  {{#each names}}
      <li>{{this}}</li>
  {{/each}}
</ul>

<form id="getNames" class="" action="/api/people" method="get">
  <input type="submit" name="submit" value="">Get Names</input>
</form>
